body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Empêche le défilement si la carte déborde */
}

#mapid {
    height: calc(100vh - 50px); /* Ajuste la hauteur pour prendre tout l'espace restant après la barre de navigation */
    width: 100%;
}

.navbar {
    height: 50px;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: darkblue;
}

#locate-button {
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 1000;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.fa-crosshairs {
    font-size: 24px;
    color: blue;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#popup-form {
    display: none;
    position: fixed;
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    max-width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#popup-form .banner {
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

#popup-form form {
    display: flex;
    flex-direction: column;
}

#popup-form label {
    margin-top: 10px;
}

#popup-form input[type="text"], #popup-form textarea {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: calc(100% - 12px);
}

#popup-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#popup-form button.cancel {
    background-color: red;
}

.auth-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.auth-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.auth-form button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: darkblue;
}

.auth-form .close {
    background-color: red;
}
