body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
}

button {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #777;
}

#forms-container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.hidden {
    display: none;
}

.form h2 {
    margin-top: 0;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

form button {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

form button:hover {
    background-color: #555;
}
